$white: #fffdf3;

@mixin border {
  border: 2px solid black;
}

@mixin button {
  @include border;
  padding: 0 10px;
  font-size: 20px;
}

body {
  font-family: Vollkorn;
  background: $white;
}

button,
input {
  font-family: Vollkorn;
  margin-top: 10px;
  background: none;
  @include button;
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
  @include button;
}

.table-of-contents {
  display: flex;
  margin: 10px 0;

  * {
    user-select: none;
  }

  p {
    @include button;
    margin: 0 10px;
  }

  .active {
    color: $white;
    background: black;
  }
}

@mixin box($color) {
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background: $color;
    position: absolute;
    transform: translateX(-15px);
    margin: auto;
  }
}

.key {
  display: inline-block;
  @include border;
  margin: 10px;
  display: flex;
  * {
    margin-left: 30px;
  }
  .green {
    @include box(green);
  }
  .yellow {
    @include box(yellow);
  }
  .red {
    @include box(red);
  }
  .blue {
    @include box(blue);
  }
}

.calculator {
  width: 500px;
  height: 500px;
  @include border;
}
