body {
  font-family: Vollkorn;
  background: #fffdf3;
  margin: 0 20vw; }

button,
input {
  font-family: Vollkorn;
  margin-top: 10px;
  background: none;
  border: 2px solid black;
  padding: 0 10px;
  font-size: 20px;
  user-select: none; }

.header {
  display: flex;
  justify-content: space-between; }
  .header .home {
    display: flex;
    align-items: center; }

a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 0 10px;
  font-size: 20px; }

.table-of-contents {
  display: flex;
  margin: 10px 0; }
  .table-of-contents * {
    user-select: none; }
  .table-of-contents p {
    border: 2px solid black;
    padding: 0 10px;
    font-size: 20px;
    margin: 0 10px; }
  .table-of-contents .active {
    color: #fffdf3;
    background: black; }

.key {
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
  display: flex; }
  .key * {
    margin-left: 30px; }
  .key .green:before {
    content: '';
    width: 10px;
    height: 10px;
    background: green;
    position: absolute;
    transform: translateX(-15px);
    margin: auto; }
  .key .yellow:before {
    content: '';
    width: 10px;
    height: 10px;
    background: yellow;
    position: absolute;
    transform: translateX(-15px);
    margin: auto; }
  .key .red:before {
    content: '';
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    transform: translateX(-15px);
    margin: auto; }
  .key .blue:before {
    content: '';
    width: 10px;
    height: 10px;
    background: blue;
    position: absolute;
    transform: translateX(-15px);
    margin: auto; }

.calculator {
  width: 500px;
  height: 500px;
  border: 2px solid black; }

[v-cloak] {
  display: none; }
